.team-item-detail {
    width: 90%;
    height: 90%;
    position: absolute;
    left: 5%;
}
.team-item-detail:before {
    border-bottom: 1px solid #03a9f4;
    border-top: 1px solid #03a9f4;
    transform: scale(0,1);
    transform-origin: 0 0 0;
}
.team-item-detail:after, 
.team-item-detail:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: all .7s ease 0s;
}
.team-item-detail:after {
    border-left: 1px solid #03a9f4;
    border-right: 1px solid #03a9f4;
    transform: scale(1,0);
    transform-origin: 100% 0 0;
}
.team-item-image {position: relative;}
.team-item-image:hover .team-item-detail:after, 
.team-item-image:hover .team-item-detail:before {
    opacity: 1;
    transform: scale(1);
    transition-delay: .15s;
}
.team-item-image:hover .team-item-detail:after, 
.team-item-image:hover .team-item-detail:before {
    opacity: 1;
    transform: scale(1);
    transition-delay: .15s;
}
.team-item-image:before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all .35s ease 0s;
}
.team-item-image:hover:before {
    opacity: 1;
}
body .no-mobile .team-item:hover .team-item-image:after {
    display: none;
}
body .inner-nav ul li a span {
    padding: 10px;
    transition: all 0.5s ease;
    border-radius: 30px;
}
body .inner-nav ul li a.active span {
	background: #03a9f4;	
	color: #fff !important;
}
body .works-filter a {
	color: #111;
    border: 1px solid #111;
    background: transparent;
    padding: 10px 55px;
    font-weight: bold;
}
.page-section.contactUs {
	padding: 110px 0;
    border-top: 1px solid #111;
}
.home-content h1 {
    font-size: 60px;
    line-height: 90px;
}
.ForAdminProject .section-line {
    margin: 10px 0 40px;
}
.forAdminInner {}
.forProjectInner {}
.ForAdminProject {}
.ForAdminProject ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.ForAdminProject ul li {    
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: 300;
    color: #777;
    position: relative;
    padding-left: 25px;
}
.ForAdminProject ul li:before {
    display: block;
    content: '--';
    position: absolute;
    left: 0;
    color: #03a9f4;
    font-weight: bold;
}
.service-item {
    min-height: 394px;
}
.why {    
    margin-top: 140px;
}
.alt-features-icon span {
    width: 48px;
    height: 49px;
    display: block;
    margin: 0 auto;
}
.alt-features-icon span img {
    max-width: 100%;
}
body .alt-features-title {
    font-size: 17px;
    font-weight: 600;
}